<ion-view view-title="How To's">
<ion-content
         has-bouncing="false"
         start-y="55"
         padding="true"
         has-tabs="true"
         has-header="true"
         >

    <div class="row">
      <div class="col">

      <h2 align="center" class="checklistTitle">How to change your vehicle's flat tire?</h2>

      <ion-slide-box on-slide-changed="slideHasChanged($index)">

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire1.png" width="100%">
              <h2>Park your car on a flat surface and make sure to put on the emergency brake.</h2>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire2.png" width="100%">
              <h2>Loosen all 5 lug nuts and don't take any of them out, yet!</h2>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire3.png" width="100%">
              <h2>Place your jack under the vehicle (not on the frame) and ensure it is firmly in place.</h2>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire4.png" width="100%">
              <h2>Jack up the vehicle and then remove the lug nuts as well as your wheel.</h2>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire5.png" width="100%">
              <h2>Take your spare tire and place it so that all 5 lug nut holes align and then screw the nuts as much as you can.</h2>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <div class="slideAdjust">
              <img src="img/howto/flattire6.png" width="100%">
              <h2>Slowly lower your car and once the tire is in contact with the surface, tighten the lug nuts firmly and done!</h2>
            </div>
          </div>
        </ion-slide>
        
      </ion-slide-box>

      </div>
    </div>
  
  </ion-content>
</ion-view>
