<ion-modal-view>

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">

          <div class="row">
            <div class="col col-90">
              <h1>Police Details</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(5)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div>
          </div>

          <label class="claimlabel">Last Name</label>
          <input type="text" class="claimform" id="policeLastName">

          <label class="claimlabel">Badge #</label>
          <input type="text" class="claimform" id="policeBadgeNumber">

          <label class="claimlabel">Phone #</label>
          <input type="text" class="claimform" id="policePhone">

          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="savePoliceDetails(5)">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
