<ion-modal-view>

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">

          <div class="row">
            <div class="col col-90">
              <h1>Witness Details</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(4)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div> 
          </div>
          
          <label class="claimlabel">First Name</label>
          <input type="text" class="claimform" id="witnessFirstName">

          <label class="claimlabel">Last Name</label>
          <input type="text" class="claimform" id="witnessLastName">

          <label class="claimlabel">Phone #</label>
          <input type="text" class="claimform" id="witnessPhone">

          <label class="claimlabel">Email</label>
          <input type="text" class="claimform" id="witnessEmail">

          <label class="item item-input item-select" style="margin:20px 0 10px">
            <div class="input-label">
              Where were you?
            </div>
            <select id="witnessLocation">
              <option selected>On the street</option>
              <option>In another vehicle</option>
            </select>
          </label>          

          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="saveWitnessDetails()">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
