<ion-modal-view>

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">

          <div class="row">
            <div class="col col-90">
              <h1>Passenger Details</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(3)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div>
          </div>
          
          <label class="claimlabel">First Name</label>
          <input type="text" class="claimform" id="passengerFirstName">

          <label class="claimlabel">Last Name</label>
          <input type="text" class="claimform" id="passengerLastName">

          <label class="claimlabel">Phone #</label>
          <input type="text" class="claimform" id="passengerPhone">

          <label class="claimlabel">Email</label>
          <input type="text" class="claimform" id="passengerEmail">

          <label class="item item-input item-select" style="margin:20px 0 10px">
            <div class="input-label">
              Where were you?
            </div>
            <select id="passengerLocation">
              <option selected>Front Passenger Seat</option>
              <option>Rear Passenger Seat</option>
            </select>
          </label>   

          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="savePassengerDetails()">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
