<ion-modal-view ng-init="getGeodata()">

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">

          <div class="row">
            <div class="col col-90">
              <h1>Geo Data</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(6)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div>
          </div>

          <div class="row">
            <div class="col col-33">
              <img src="img/geoDateIcon@2x.png" class="claimTypeImg">
            </div>
            <div class="col col-67">
              <h1 class="geoDataTitle">Time<br>Date</h1>
            </div>
            <div class="refreshClick">
              <img src="img/refreshIcon@2x.png" width="40">
            </div>
          </div>
          <div class="col">
            <input type="text" class="geoClaimForm" id="timestamp">
          </div>


          <div class="row">
            <div class="col col-33">
              <img src="img/geoWeatherIcon@2x.png" class="claimTypeImg">
            </div>
            <div class="col col-67">
              <h1 class="geoDataTitle">Weather<br>Forecast</h1>
            </div>
            <div class="refreshClick">
              <img src="img/refreshIcon@2x.png" width="40">
            </div>
          </div>
          <div class="col">
            <input type="text" class="geoClaimForm" id="weather">
          </div>

          <div class="row">
            <div class="col col-33">
              <img src="img/geoLocIcon@2x.png" class="claimTypeImg">
            </div>
            <div class="col col-67">
              <h1 class="geoDataTitle">Incident<br>Location</h1>
            </div>
            <div class="refreshClick">
              <img src="img/refreshIcon@2x.png" width="40">
            </div>
          </div>
          <div class="col">
            <input type="text" class="geoClaimForm" id="location">
          </div>


          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="saveGeodata()">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
