<ion-view view-title="Dashboard" ng-init="resetStorage()">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear" onClick="location.href='#/tab/rooms'">
				<span class="ion-chatbubbles" style="font-size:25px"></span>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>

		<!-- Dashboard / Profile Container --> 
		<div id="profileContainer">
			<div class="row">
				<div class="col col-33">
					<img src="img/companyicon@2x.png" width="100%" class="profileImg">
				</div>
				<div class="col col-67">
					<div class="profileAdjust">
						<label class="policyholderName">{{client.firstname}}&nbsp;{{client.lastname}}</label>
						<br>
						<span class="policyholderNum">Policy #:</span><label class="policyholderNum">{{policy.policynumber}}</label><br>
						<label class="policyholderNum">{{policy.company}}</label>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Dashboard / Policy Details --> 
		<div class="row" style="margin:-30px 0 0;">
			<div class="col" style="padding:20px">
				<h2 class="policyDetails">
					<span class="ion-grid"></span>
					<span style="color:#555;">Policy Details</span>
				</h2>

				<div class="row" style="padding:0">
					<div class="col col-33" style="padding-left:0; padding-right:0">
						<div class="policyDetailsBox">
							<span class="fw700">{{policy.liability | currency}}</span><br>
							Liability
						</div>
					</div>
					<div class="col col-33">
						<div class="policyDetailsBox">
							<span class="fw700">{{policy.type}}</span><br>
							Insurance
						</div>
					</div>
					<div class="col col-33" style="padding-right:0">
						<div class="policyDetailsBox">
							<span class="fw700">{{policy.expirydate | date: 'MMMM d, y'}}</span><br>
							Expiry
						</div>
					</div>
				</div>

				<p style="line-height:22px; color:#333; padding-top:10px">
					<strong>Insurer:</strong> {{policy.company}}<br>
					<strong>Collision or upset deductible:</strong>{{policy.deductions | currency}}<br>
					<strong>Comprehensive deductible:</strong> {{policy.deductions | currency}}
				</p>
			</div>
		</div>

		<!-- Dashboard / Account Details --> 
		<div class="row" style="margin:-40px 0 -20px;">
			<div class="col" style="padding:20px">
				<h2 class="policyDetails">
					<span class="ion-clipboard"></span>
					<span style="color:#555;">Account Details</span>
				</h2>

				<div class="row" style="padding:0">
					<div class="col col-50">
						<strong>Claims Processed:</strong> 0
					</div>
					<div class="col col-50">
						<strong>Inventory Items:</strong> 32
					</div>
				</div>

			</div>
		</div>

		<!-- Dashboard / Quick Launch Container --> 
		<div class="row" style="padding-bottom:50px">
			<div class="col col-33" ng-click="serviceCall()">
				<img src="img/dashQuickIcon1@2x.png" width="100%" class="quickIconImg">
				<div class="dashQuickIconBG">
					Service
				</div>
			</div>
			<div class="col col-33" ng-click="alertCall()">
				<img src="img/dashQuickIcon2@2x.png" width="100%" class="quickIconImg">
				<div class="dashQuickIconBG">
					Alert
				</div>
			</div>
			<div class="col col-33" ng-click="emergencyCall()">
				<img src="img/dashQuickIcon3@2x.png" width="100%" class="quickIconImg">
				<div class="dashQuickIconBG">
					9-1-1
				</div>
			</div>
		</div>
	</ion-content>

	<!-- Floating Menu Bottom Bar --> 
	<div class="footerDash">
		<button class="startHereButton launchMenu" id="menu" ng-click="showHideMenu()">
			<div class="main">Start Here
				<div class="ion-navicon startIcon"></div>
			</div>
			
			<ul>
				<li class="item5" id="item5" onClick="location.href='#/app/myinventorypolicy'">
					<a href="#/app/myinventorypolicy">Inventory</a>
					<span></span>
				</li>

				<li class="item4" id="item4" onClick="location.href='#/app/mails/1'">
					<a href="#/app/mails/1">My Inbox</a>
					<span></span>
				</li>

				<li class="item3" id="item3" onClick="location.href='#/app/checklist'">
					<a href="#/app/checklist">Checklist</a>
					<span></span>
				</li>

				<li class="item2" id="item2" onClick="location.href='#/app/findservices'">
					<a href="#/app/findservices" style="min-width: 120px;">Find Services</a>
					<span></span>
				</li>

				<li class="item1" id="item1" onClick="location.href='#/app/startclaim'">
					<a href="#/app/startclaim">Start Claim</a>
					<span></span>
				</li>
			</ul>
		</button>
		<button class="contactBroker" href="#/app/gethelp" onClick="location.href='#/app/gethelp'">
			<span class="ion-help-circled contactIcon">
				<span class="textAdjust">Get Help</span>
			</span>
		</button>
	</div>
	<div class="activeMenuBGoff" id="activeMenuBG" ng-click="showHideMenu()"></div>
</ion-view>