<ion-view view-title="Help">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.58768803031!2d-79.380484!3d43.656746000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34cad13907bf%3A0x393038cf922e1378!2sThe+DMZ+at+Ryerson+University!5e0!3m2!1sen!2sca!4v1431066306790" width="100%" height="200" frameborder="0" style="border:0; box-shadow:0 0 16px -9px #000; margin-bottom:10px"></iframe>

		<div class="row">
			<div class="col" align="center">
				<img src="../img/company@2x.png" style="width:95%">
			</div>
		</div>

		<div class="row" style="margin-top:-10px">
			<div class="col col-50">
				<p style="line-height:30px; color:#333; padding:10px; font-size:17px">
					<strong>General Inquiries:</strong><br>
					<strong>Primary Contact:</strong><br>
					<strong>Contact #:</strong>
				</p>
			</div>
			<div class="col col-50">
				<p style="line-height:30px; color:#333; padding:10px; font-size:17px">
					1-800-667-9954<br>
					Sarah Michelle<br>
					647-667-9954<br>
				</p>
			</div>
		</div>
		
		<div class="row" style="margin-top:-30px">
			<div class="col col-50">
				<p style="line-height:18px; color:#333; padding:10px; font-size:14px">
					<strong>Hours:</strong><br>
					Monday:<br>
					Tuesday:<br>
					Wednesday:<br>
					Thursday:<br>
					Friday:
				</p>
			</div>
			<div class="col col-50">
				<p style="line-height:18px; color:#333; padding:10px; font-size:14px">
					<br>
				    9am - 5pm<br>
					9am - 5pm<br>
					9am - 5pm<br>
					9am - 6pm<br>
					8am - 3pm
				</p>
			</div>
		</div>
		
	</ion-content>
</ion-view>