<style type="text/css">.angular-google-map-container { height: 400px; }</style>
<ion-modal-view>
	<ion-content>
		<div class="row">
			<div class="col" style="padding:10px;">
				<div class="row">
					<div class="col col-90">
						<h1>Vendor Location</h1>
					</div>
					<div class="col">
						<div class="buttons">
							<button class="button button-clear" ng-click="closeModal(2)" >
								<div class="closeModalButton">X</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" ng-click="NavigateToLocation(latitude, longitude)"></ui-gmap-marker>
		</ui-gmap-google-map>
		
		<button class="button button-block button-positive" ng-click="NavigateToLocation(latitude, longitude)">
			Navigate to Vendor
		</button>
	</ion-content>
</ion-modal-view>