<ion-view view-title="My Claims" animation="slide-left-right" ng-init="getClaimsList()">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
		</ion-nav-buttons>
	</ion-nav-bar>
		
	<ion-tabs class="tabs-assertive tabs-icon-top">
		<ion-tab title="Auto" class="brandc1bg" icon="auto">
			<ion-item ng-hide="autoClaims" class="textCenter" style="margin-top: 10px;">
				<i class="icon ion-loading-c"></i> Loading...
			</ion-item>
			<ion-item ng-show="autoClaims.length == 0" style="margin-top: 10px;">
				<div>
					<p>There are no auto claims</p>
				</div>
			</ion-item>
			<div class="card" ng-hide="autoClaims.length==0">
				<div class="row">
					<div class="col">
						<h2 class="brandc1">Auto Claims</h2>
					</div>
				</div>
			</div>
			<ion-content style="margin-top: 30px;" id="AutoClaimsContent">	
				<div class="card" ng-hide="autoClaims.length==0">
					<ion-list ng-repeat="claim in autoClaims">
						<ion-item ng-click="goNext('{{claim._id}}')">
							<div class="adjustHomeInboxList">Created: {{claim.created | date: 'EEEE, MMM d, y, h:mm a'}}</div>
							<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
						</ion-item>
					</ion-list>
				</div>
			</ion-content>
		</ion-tab>
		
		<ion-tab title="Property" class="brandc1bg" icon="property">
			<ion-item ng-hide="propertyClaims" class="textCenter" style="margin-top: 10px;">
				<i class="icon ion-loading-c"></i> Loading...
			</ion-item>
			<ion-item ng-show="propertyClaims.length == 0" style="margin-top: 10px;">
				<div>
					<p>There are no property claims</p>
				</div>
			</ion-item>
			<div class="card" ng-hide="propertyClaims.length==0">
				<div class="row">
					<div class="col">
						<h2 class="brandc1">Property Claims</h2>
					</div>
				</div>
			</div>
			<ion-content style="margin-top: 30px;" id="PropertyClaimsContent">
				<div class="card" ng-hide="propertyClaims.length==0">
					<ion-list ng-repeat="claim in propertyClaims">
						<ion-item ng-click="goNext('{{claim._id}}')">
							<div class="adjustHomeInboxList">Created: {{claim.created | date: 'EEEE, MMM d, y, h:mm a'}}</div>
							<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
						</ion-item>
					</ion-list>
				</div>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>