<ion-view view-title="Claims Details" animation="slide-left-right" ng-init="getClaimDetails()">
	<ion-content>
		<div class="card" ng-show="claim">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">General Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Status:</strong>
				</div>
				<div class="col col-50">
					{{claim.status}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Policyholder:</strong>
				</div>
				<div class="col col-50">
					{{claim.policyholder}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Company:</strong>
				</div>
				<div class="col col-50">
					{{claim.company}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Policy:</strong>
				</div>
				<div class="col col-50">
					{{claim.policy}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Incident Type:</strong>
				</div>
				<div class="col col-50">
					{{claim.incidenttype}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Created:</strong>
				</div>
				<div class="col col-50">
					{{claim.created | date: 'EEEE, MMM d, y, h:mm a'}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Notes:</strong>
				</div>
				<div class="col col-50">
					{{claim.notes}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="geodetails">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Geo Details</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Address:</strong>
				</div>
				<div class="col col-50">
					{{geodetails.address}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>City:</strong>
				</div>
				<div class="col col-50">
					{{geodetails.city}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Provice:</strong>
				</div>
				<div class="col col-50">
					{{geodetails.provice}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Location:</strong>
				</div>
				<div class="col col-50">
					{{geodetails.latitude}}&nbsp;{{geodetails.longitude}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Weather:</strong>
				</div>
				<div class="col col-50">
					{{geodetails.weather}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="police">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Police Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Name:</strong>
				</div>
				<div class="col col-50">
					{{police.name}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Badge #:</strong>
				</div>
				<div class="col col-50">
					{{police.badge}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Phone #:</strong>
				</div>
				<div class="col col-50">
					{{police.phonenumber}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Report:</strong>
				</div>
				<div class="col col-50">
					{{police.report}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="driver">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Driver Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>First Name:</strong>
				</div>
				<div class="col col-50">
					{{driver.fname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Last Name:</strong>
				</div>
				<div class="col col-50">
					{{driver.lname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Phone #:</strong>
				</div>
				<div class="col col-50">
					{{driver.phonenumber}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Policy #:</strong>
				</div>
				<div class="col col-50">
					{{driver.policy}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>License Plate:</strong>
				</div>
				<div class="col col-50">
					{{driver.licenseplate}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>License Number:</strong>
				</div>
				<div class="col col-50">
					{{driver.licensenumber}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Vehicle Owner:</strong>
				</div>
				<div class="col col-50">
					{{driver.vehicleowner}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="vehicle">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Vehicle Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Type:</strong>
				</div>
				<div class="col col-50">
					{{vehicle.type}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Make:</strong>
				</div>
				<div class="col col-50">
					{{vehicle.make}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Model:</strong>
				</div>
				<div class="col col-50">
					{{vehicle.model}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Year:</strong>
				</div>
				<div class="col col-50">
					{{vehicle.year}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Color:</strong>
				</div>
				<div class="col col-50">
					{{vehicle.color}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="passenger">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Passenger Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>First Name:</strong>
				</div>
				<div class="col col-50">
					{{passenger.fname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Last Name:</strong>
				</div>
				<div class="col col-50">
					{{passenger.lname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Phone #:</strong>
				</div>
				<div class="col col-50">
					{{passenger.phone}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>E-mail:</strong>
				</div>
				<div class="col col-50">
					{{passenger.email}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Location:</strong>
				</div>
				<div class="col col-50">
					{{passenger.location}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="witness">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Witness Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>First Name:</strong>
				</div>
				<div class="col col-50">
					{{witness.fname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Last Name:</strong>
				</div>
				<div class="col col-50">
					{{witness.lname}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Phone #:</strong>
				</div>
				<div class="col col-50">
					{{witness.phone}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>E-mail:</strong>
				</div>
				<div class="col col-50">
					{{witness.email}}
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<strong>Location:</strong>
				</div>
				<div class="col col-50">
					{{witness.location}}
				</div>
			</div>
		</div>
		<div class="card" ng-show="items">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Claimed Items</h2>
				</div>
			</div>
			<ion-item ng-repeat="item in items">
				<div class="row">
					<div class="col col-50">
						<strong>Name:</strong>
					</div>
					<div class="col col-50">
						{{item.name}}
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<strong>Model #:</strong>
					</div>
					<div class="col col-50">
						{{item.modelno}}
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<strong>Purchase Date:</strong>
					</div>
					<div class="col col-50">
						{{item.dateofpurchase | date: 'EEEE, MMM d, y, h:mm a'}}
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<strong>Price:</strong>
					</div>
					<div class="col col-50">
						{{item.price | currency}}
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<strong>Status:</strong>
					</div>
					<div class="col col-50">
						{{item.status}}
					</div>
				</div>

				<div class="col col-33">
					<div ng-if="item.imagedetails[0] != null">
						<button class="mediaCapImg" ng-repeat="img in item.imagedetails">
							<img ng-src="{{img.url}}" class="col">
						</button>
					</div>
					<div ng-if="item.imagedetails[0] == null">
						<button class="mediaCapImg">
							<img src="img/noimage.png" class="col">
						</button>
					</div>
				</div>
			</ion-item>
		</div>
		<div class="card" ng-show="media">
			<div class="row">
				<div class="col">
					<h2 class="brandc1">Media Information</h2>
				</div>
			</div>
			<div class="col col-33" ng-repeat="image in media track by $index" style="float: left; width: auto;">
				<button class="mediaCapImg">
					<img ng-src="{{image.url}}" class="col">
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>