<ion-view view-title="Select Policy" animation="slide-left-right" ng-init="getPolicies()">
	<ion-nav-bar class="bar-positive" >
		<ion-nav-back-button>Dashboard</ion-nav-back-button>
	</ion-nav-bar>
	
	<ion-tabs class="tabs-assertive tabs-icon-top">
		<ion-tab title="Auto" class="brandc1bg" icon="auto" on-select="getCategory('Automotive')">

			<ion-content>
				<div class="row">
					<div class="col">
						<div ng-show="aPolicies.length > 0">
							<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="ap in aPolicies">
								<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
									<input type="radio" name="radio-group" ng-click="savePolicy(ap)">
									<i class="checkbox-icon"></i>
								</div>
								<div class="item-content disable-pointer-events">
									<span class="ng-binding">
										{{ap.policynumber}}
									</span>
								</div>
							</label>
						</div>
						<div ng-show="aPolicies.length == 0">
							<div>
								<p>There are no automotive policies.</p>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
		</ion-tab>
		
		<ion-tab title="Property" class="brandc1bg" icon="property" on-select="getCategory('Property')">
			<ion-content>
				<div class="row">
					<div class="col">
						<div ng-show="pPolicies.length > 0">
							<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="pp in pPolicies">
								<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
									<input type="radio" name="radio-group" ng-click="savePolicy(pp)">
									<i class="checkbox-icon"></i>
								</div>
								<div class="item-content disable-pointer-events">
									<span class="ng-binding">
										{{pp.policynumber}}
									</span>
								</div>
							</label>
						</div>
						<div ng-show="pPolicies.length == 0">
							<div>
								<p>There are no property policies.</p>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>