<ion-view view-title="Property" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class="row">
			<div class="col" style="margin-top:15px">
				<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="claimtype in claimtypes | filter: { type: 'property' }">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="radio" name="radio-group" ng-click="typeOfClaimCategory('{{claimtype.title}}')">
						<i class="checkbox-icon"></i>
					</div>
					<div class="item-content disable-pointer-events">
						<span class="ng-binding">
							{{claimtype.title}}
						</span>
					</div>
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>