<!-- <ion-view view-title="Rooms">
    <ion-content>
        <ion-list ng-show="rooms">
            <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.id)">
                <i class="icon {{room.icon}}"></i>
                <h2>{{room.name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="rooms.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Rooms
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view> -->



<ion-view view-title="Chat">
     <ion-content>
        <ion-list >

          <ion-item class="item-icon-left" type="item-text-wrap" ng-click="requestChat('Customer Service','new')">
             <i class="icon ion-person brandc1"></i>
             <h2>Customer Service</h2>
          </ion-item>

          <ion-item class="item-icon-left"  type="item-text-wrap" ng-click="requestChat('Sales','new')">
             <i class="icon ion-pricetag brandc2"></i>
             <h2>Sales</h2>
          </ion-item>

          <ion-item class="item-icon-left"  type="item-text-wrap" ng-click="requestChat('My Agent','new')">
             <i class="icon ion-briefcase brandc1"></i>
             <h2>My Agent/Broker</h2>
          </ion-item>
        
        </ion-list>
    </ion-content>
</ion-view> 