.startHereButton {
    background: none repeat scroll 0 0 #148ccc;
    border-radius: 5px 20px 20px 5px;
    color: #fff;
    padding: 7px 5px; position:absolute; right:5px; border:none;
}

.launchMenu:hover {}

.launchMenu ul {
  list-style: none;
  position: relative;
  width: 100px;
  padding:0;
  right: 10px;
  bottom: 20px;
}

.launchMenu ul a {
  color: #333;
}

.launchMenu ul li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin:0;
}

.launchMenu ul li a {
  display: block;
  width: auto;
  text-align: center;
  line-height: auto;
  font-size: 15px;
  background:#fff;
  border-radius: 4px;
  text-decoration: none;
  padding:10px;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  right:35px;
}

.launchMenu ul li:not(.main) {
  -webkit-transform: rotate(0deg) scale(0);
  -moz-transform: rotate(-0deg) scale(0);
  -o-transform: rotate(-0deg) scale(0);
  transform: rotate(-0deg) scale(0);
  opacity: 0;
}


.launchMenu ul li.launch {
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  opacity: 1;
  position: relative;
  height: 50px;
  display: block;

}


.launchMenu ul li.item1 {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -70px;
  left: -3px;
  transition:All .3s ease;
    -webkit-transition:All .3s ease;
    -moz-transition:All .3s ease;
    -o-transition:All .3s ease;
}

.launchMenu ul li.item2 {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -120px;
  left: -28px;
  transition:All .35s ease;
    -webkit-transition:All .35s ease;
    -moz-transition:All .35s ease;
    -o-transition:All .35s ease;
}

.launchMenu ul li.item3 {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -170px;
  left: 10px;
  transition:All .4s ease;
    -webkit-transition:All .4s ease;
    -moz-transition:All .4s ease;
    -o-transition:All .4s ease;
}

.launchMenu ul li.item4 {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -220px;
  left: 10px;
  transition:All .45s ease;
    -webkit-transition:All .45s ease;
    -moz-transition:All .45s ease;
    -o-transition:All .45s ease;
}

.launchMenu ul li.item5 {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -270px;
  left: 10px;
  transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
}

.launchMenu ul li.item1 span {
  background: url(../img/menuStartIcon@2x.png) no-repeat #148ccc 7px 9px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  top: -45px;
  display: block;
  float: right;
  right: -15px
}

.launchMenu ul li.item2 span {
  background: url(../img/menuServiceIcon@2x.png) no-repeat #148ccc center center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  top: -45px;
  display: block;
  float: right;
  right: -15px
}

.launchMenu ul li.item3 span {
  background: url(../img/menuChecklistIcon@2x.png) no-repeat #148ccc center center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  top: -45px;
  display: block;
  float: right;
  right: -15px
}

.launchMenu ul li.item4 span {
  background: url(../img/menuInboxIcon@2x.png) no-repeat #148ccc  8px 11px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  top: -45px;
  display: block;
  float: right;
  right: -15px
}

.launchMenu ul li.item5 span {
  background: url(../img/menuProfileIcon@2x.png) no-repeat #148ccc center center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px -2px #000;
  position: relative;
  top: -45px;
  display: block;
  float: right;
  right: -15px
}

.startIcon {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    color: #148ccc;
    float: right;
    font-size: 15px;
    height: 20px;
    width: 20px;
}