<ion-view view-title="Checklist" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-tabs class="tabs-assertive">
		<ion-tab title="Automotive">
			<ion-content style="top:20px">
				<div class="row">
					<div class="col">
						<h3 style="margin:20px 0"><span class="ion-person-add checklistIcon" style="padding: 5px 8px;"></span> Compliance Checklist</h3>
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I just got into an accident...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I am in a rental, how do I...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">General how do to's...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h3 style="margin:20px 0"><span class="ion-information checklistIcon" style="padding: 5px 15px;"></span> General How To's</h3>
						<ion-list>
							<ion-item class="homeInboxList checklistItem" onClick="location.href='#/app/checklist-howto-flattire'">
								<div class="adjustHomeInboxList">How to change a flat tire?</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I just got into an accident...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I am in a rental, how do I...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">General how do to's...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">How to change a flat tire?</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I just got into an accident...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>


				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I am in a rental, how do I...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">General how do to's...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ion-list>
							<ion-item class="homeInboxList checklistItem">
								<div class="adjustHomeInboxList">I am in a different province...</div>
								<div class="ion-chevron-right goToInboxArrow ion-ios-arrow-right" style="right:0"></div>
							</ion-item>
						</ion-list>
					</div>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="Property">
		</ion-tab>
	</ion-tabs>
</ion-view>