<ion-view view-title="Additional Details" animation="slide-left-right">
	<ion-content>
		<div class="row">
			<div class="col">
				<div style="padding:10px">
					<h2>Additional Details</h2>
					<textarea id="notesTextarea" placeholder="You can indicate any additional details of the incident here" class="claimItemTextarea"></textarea>
				</div>
			</div>
		</div>
	</ion-content>

	<div class="bar bar-footer">
		<button class="button button-clear pull-left" ng-click="goBack()">
			<div class="backButton">< Back</div>
		</button>

		<button class="button button-clear pull-right" ng-click="goNext()">
			<div class="nextButton">Next ></div>
		</button>
	</div>
</ion-view>