<ion-view view-title="Geo Details" animation="slide-left-right">
	<ion-content ng-init="getgeodetails()">
		<div class="row">
			<div class="col" style="padding:10px;">
				<div class="row">
					<div class="col col-33">
						<img src="img/geoDateIcon@2x.png" class="claimTypeImg">
					</div>
					
					<div class="col col-67">
						<h1 class="geoDataTitle">Time<br>Date</h1>
					</div>
					
					<div class="refreshClick">
						<img src="img/refreshIcon@2x.png" width="40">
					</div>
				</div>
		
				<div class="col">
					<input type="text" class="geoClaimForm" id="timestamp">
				</div>

				<div class="row">
					<div class="col col-33">
						<img src="img/geoWeatherIcon@2x.png" class="claimTypeImg">
					</div>
					
					<div class="col col-67">
						<h1 class="geoDataTitle">Weather<br>Forecast</h1>
					</div>
					
					<div class="refreshClick">
						<img src="img/refreshIcon@2x.png" width="40">
					</div>
				</div>
			
				<div class="col">
					<input type="text" class="geoClaimForm" id="weather">
				</div>

				<div class="row">
					<div class="col col-33">
						<img src="img/geoLocIcon@2x.png" class="claimTypeImg">
					</div>
					
					<div class="col col-67">
						<h1 class="geoDataTitle">Incident<br>Location</h1>
					</div>
					
					<div class="refreshClick">
						<img src="img/refreshIcon@2x.png" width="40">
					</div>
				</div>
				
				<div class="col">
					<input type="text" class="geoClaimForm" id="location">
				</div>
			</div>
		</diV>
	</ion-content>

	<div class="bar bar-footer">
		<button class="button button-clear pull-left" ng-click="goBack()">
			<div class="backButton">< Back</div>
		</button>

		<button class="button button-clear pull-right" ng-click="saveGeoDetails()">
			<div class="nextButton">Next ></div>
		</button>
	</div>
</ion-view>
