<ion-view view-title="Police Details" animation="slide-left-right">
	<ion-content>
		<div class="row">
			<div class="col" style="padding:10px;">

				<label class="claimlabel">Last Name</label>
				<input type="text" class="claimform" id="policeLastName">
				
				<label class="claimlabel">Badge #</label>
				<input type="text" class="claimform" id="policeBadgeNumber">
		
				<label class="claimlabel">Phone #</label>
				<input type="text" class="claimform" id="policePhone">

				<label class="claimlabel">Report</label>
				<textarea id="policeReport" placeholder="You can indicate any additional details of the incident here" class="claimItemTextarea"></textarea>
			</div>
		</diV>
	</ion-content>

	<div class="bar bar-footer">
		<button class="button button-clear pull-left" ng-click="goBack()">
			<div class="backButton">< Back</div>
		</button>

		<button class="button button-clear pull-right" ng-click="savePoliceDetails()">
			<div class="nextButton">Next ></div>
		</button>
	</div>
</ion-view>