<ion-modal-view>

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">
        
          <div class="row">
            <div class="col col-90">
              <h1>Driver Details</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(1)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div>
          </div>
                    
          <label class="claimlabel">First Name</label>
          <input type="text" class="claimform" id="driverFirstName">

          <label class="claimlabel">Last Name</label>
          <input type="text" class="claimform" id="driverLastName">

          <label class="claimlabel">Policy #</label>
          <input type="text" class="claimform" id="driverPolicy">

          <label class="claimlabel">License Plate</label>
          <input type="text" class="claimform" id="driverLicensePlate">

          <label class="claimlabel">License Number</label>
          <input type="text" class="claimform" id="driverLicenseNumber">

          <label class="claimlabel">Phone Number</label>
          <input type="text" class="claimform" id="driverPhone">

          <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track"> 
             <div class="handle"></div>
           </div>
          </label>
          <label class="claimlabel" style="left: 5px; position: relative; top: -10px;">
            Owner of vehicle?
          </label>

          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="saveDriverDetails()">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
