<ion-view view-title="Affected Areas">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear" ng-click="saveAffectedAreas()">
				<strong>Next<span class="ion-ios-arrow-forward"></span></strong>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-tabs class="tabs-assertive tabs-icon-top">
		<ion-tab title="Exterior" class="brandc1bg" icon="exterior">
			<ion-content sytle="margin-top:0px">
				<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="area in areasList">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="checkbox" name="area.title" ng-model="area.checked">
						<i class="checkbox-icon"></i>
					</div>
					<div class="item-content disable-pointer-events">
						<span class="ng-binding">
							{{area.title}}
						</span>
					</div>
				</label>
			</ion-content>
		</ion-tab>
		<ion-tab title="Interior" class="brandc1bg" icon="interior">
			<ion-content>
				<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="room in roomsList">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="checkbox" name="room.title" ng-model="room.checked">
						<i class="checkbox-icon"></i>
					</div>
					<div class="item-content disable-pointer-events">
						<span class="ng-binding">
							{{room.title}}
						</span>
					</div>
				</label>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>