<ion-view view-title="Find Services" animation="slide-left-right" ng-init="getUserLocation()">
	<ion-content>
		<ion-item ng-hide="newPosition == true" class="textCenter">
		<i class="icon ion-loading-c"></i> Loading...
		</ion-item>
		<div ng-hide="newPosition == false">
			<div class="row">
				<div class="col col-50" ng-click="openServicesModal('tow+truck')">
					<img src="img/findservicesIcon1@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Tow Truck
					</div>
				</div>
				<div class="col col-50" ng-click="openServicesModal('car_repair')">
					<img src="img/findservicesIcon2@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Repair Shop
					</div>
				</div>
			</div>

			<div class="row" >
				<div class="col col-50" ng-click="openServicesModal('hospital')">
					<img src="img/findservicesIcon3@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Health Clinic
					</div>
				</div>
				<div class="col col-50" ng-click="openServicesModal('collision+center')">
					<img src="img/findservicesIcon4@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Collision Center
					</div>
				</div>
			</div>

			<div class="row" >
				<div class="col col-50" ng-click="openServicesModal('car_dealer')">
					<img src="img/findservicesIcon5@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Car Dealership
					</div>
				</div>
				<div class="col col-50" ng-click="openServicesModal('car_rental')">
					<img src="img/findservicesIcon6@2x.png" width="100%" class="quickIconImg">
					<div class="dashQuickIconBG">
						Car Rental
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>