<ion-view view-title="Media Capture" animation="slide-left-right">
  <ion-content>
    
    <div class="row">
        <div class="col col-33">   
            <button ng-click="showDetails(1)" class="mediaCapImg" id="button1">
                <img id="image1" src="img/mediaCapIcon@2x.png" width="50">
            </button>
        </div>

        <div class="col col-33">   
            <button ng-click="showDetails(2)" class="mediaCapImg" id="button2">
                <img id="image2" style="height:100%; width:auto"/>
            </button>
        </div>

        <div class="col col-33">   
            <div ng-click="showDetails(3)" class="mediaCapImg" id="button3">
                "tap to focus before snapping"
                <img id="image3" style="height:100%; width:auto"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-33">   
            <button ng-click="showDetails(4)" class="mediaCapImg" id="button4">
                "better to take multiple angles"
                <img id="image4" style="height:100%; width:auto"/>
            </button>
        </div>

        <div class="col col-33">   
            <button ng-click="showDetails(5)" class="mediaCapImg" id="button5">
                "take picture of the location"
                <img id="image5" style="height:100%; width:auto"/>
            </button>
        </div>

        <div class="col col-33">   
            <button ng-click="showDetails(6)" class="mediaCapImg" id="button6">
                "take close ups and far shots"
                <img id="image6" style="height:100%; width:auto"/>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col col-33">   
            <button ng-click="showDetails(7)" class="mediaCapImg" id="button7">
                "remember to use your flash"
                <img id="image7" style="height:100%; width:auto"/>
            </button>
        </div>

        <div class="col col-33">   
            <button ng-click="showDetails(8)" class="mediaCapImg" id="button8">
                "snap other cars involved in accident"
                <img id="image8" style="height:100%; width:auto"/>
            </button>
        </div>

        <div class="col col-33">   
            <button ng-click="showDetails(9)" class="mediaCapImg" id="button9">
                "skid marks, debris, glass damage"
                <img id="image9" style="height:100%; width:auto"/>
            </button>
        </div>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col col-50" style="border-right:1px solid #ccc">
            <h2 class="addVideo">Add Video</h2>
            <button class="addVideo">
                <img src="img/mediaRecordIcon@2x.png" width="40px" ng-click="recordVideo()">
                <img src="img/mediaPlayIcon@2x.png" width="40px" ng-click="playVideo()">
                <img src="img/mediaDeleteIcon@2x.png" width="40px">
            </button>  
            <iframe id="myVideo" width="100%" height="50" src="" frameborder="0" allowfullscreen style="display:none;">
            </iframe>
        </div>

        <div class="col col-50">
            <h2 class="addAudio">Add Audio</h2>
            <button class="addAudio">
                <img src="img/mediaRecordIcon@2x.png" width="40px" ng-click="recordAudio()">
                <img src="img/mediaPlayIcon@2x.png" width="40px" ng-click="playAudio()"><!--<a>Audio:{{path}}</a>-->
                <img src="img/mediaDeleteIcon@2x.png" width="40px">
            </button> 
            <iframe id="myAudio" width="50" height="50" src="" frameborder="0" allowfullscreen style="display:none;">
            </iframe>
        </div>
    </div>
    
    
    <!--<button class="button" style="float:left; margin-top:-10px" >Show image</button>-->
    

    <!--<video ng-src="{{path}}" class="centerme" controls="controls" autoplay></video>-->
    <!--<video ng-src="http://techslides.com/demos/sample-videos/small.mp4" class="centerme" controls="controls" autoplay></video>-->

     <!-- <div class="buttons" style="float:left; margin-top:-10px;">
        <button class="button button-clear" ng-click="goBack()">
          <div class="backButton">< Back</div>
        </button>
    </div>

    <div class="buttons" style="float:right; margin-top:-10px">
     <button class="button button-clear" ng-click="attachInventoryItems()">
          <div class="nextButton">Next ></div>
        </button>
    </div>        -->
  </ion-content>
    <div class="bar bar-footer">
    <button class="button button-clear pull-left" ng-click="goBack()">
    <div class="backButton">< Back</div>
    </button>

    <button class="button button-clear pull-right" ng-click="goNext()">
    <div class="nextButton">Next ></div>
    </button>
    </div>
</ion-view>