<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content style="background:url('img/sidemenubg.jpg')">
          <div nav-clear menu-close href="#/app/Dashboard" onClick="location.href='#/app/dashboard'" style="padding:30px 20px 20px">
            <span class="ion-speedometer sideMenuIcon"></span> 
              <span class="sideMenuLinks">Dashboard</span>
            
          </div>    
  
          <div nav-clear menu-close href="#/app/profile" onClick="location.href='#/app/profile'" style="padding:20px">
            <span class="ion-person sideMenuIcon"></span> 
              <span class="sideMenuLinks">Profile</span>
          </div>

          <div nav-clear menu-close href="#/app/myclaims" onClick="location.href='#/app/myclaims'" style="padding:20px">
            <span class="ion-person sideMenuIcon"></span> 
              <span class="sideMenuLinks">My Claims</span>
          </div>

          <div nav-clear menu-close ng-click="doLogout()" style="padding:20px">
            <span class="ion-log-out sideMenuIcon"></span> 
              <span class="sideMenuLinks">Logout</span>
          </div>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
