<ion-view view-title="Item Details" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear" ng-click="confirmDeleteInventory()">
				<span class="ion-trash-a"></span>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class="row">
			<div class="col col-33" ng-repeat="image in Inventory.images">
				<button class="inventoryCapImg">
					<img ng-src="{{image.url}}" width="100">
				</button>
			</div>
		</div>
		<!-- <div class="row" id = "imageRow"> -->
		<!-- <div class="col col-33">   


		<img id="image1" src="{{Inventory.image1}}" width="50">


		</div>

		<div class="col col-33">   


		<img id="image2" src="{{Inventory.image2}}" width="50">


		</div>

		<div class="col col-33">   


		<img id="image3" src="{{Inventory.image3}}" width="50">

		</div>    -->
		<!-- </div> -->

		<!-- <div class="row" id = "imageHeadRow"> -->
		<!--  <div class="col col-33">
		Item Image - 1
		</div> -->
		<!-- </div> -->

		<div class="row">
			<div class="col" style="padding:20px 20px 0">
				<label class="claimlabel">Item Name: {{ Inventory.name }}</label><br/>
				<label class="claimlabel">Brand: {{ Inventory.brand }} </label><br/>
				<label class="claimlabel">Price: {{ Inventory.price | currency }} </label><br/>
				<label class="claimlabel">Date of purchase: {{ Inventory.date | date: 'EEEE, MMM d, y'}} </label><br/>
				<label class="claimlabel">Model No: {{ Inventory.model }} </label><br/>
				<label class="claimlabel">Approval Status: {{ Inventory.approvalStatus }} </label>
			</div>
		</div>
	</ion-content>
</ion-view>