<ion-view view-title="Add Item" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear" ng-click="saveItem()">
				<p>Save</p>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-tabs class="tabs-assertive tabs-icon-top">
		<ion-tab title="Manually" class="brandc1bg" icon="manual">
			<ion-content>
				<div class="row">
					<div class="col col-33">
						<button ng-click="showDetails(1)" class="mediaCapImg" id="button1">
							<img id="image1" src="img/mediaCapIcon@2x.png" width="50">
						</button>
					</div>

					<div class="col col-33">
						<button ng-click="showDetails(2)" class="mediaCapImg" id="button2">
							<img id="image2" src="img/mediaCapIcon@2x.png" width="50">
						</button>
					</div>

					<div class="col col-33">   
						<button ng-click="showDetails(3)" class="mediaCapImg" id="button3">
							<img id="image3" src="img/mediaCapIcon@2x.png" width="50">
						</button>
					</div>
				</div>

				<div class="row">
					<div class="col col-33">
						Item Image - 1
					</div>
					<div class="col col-33">
						Item Image - 2
					</div>
					<div class="col col-33">
						Receipt Image
					</div>
				</div>
				
				<div class="row">
					<div class="col" style="padding:20px 20px 0">
						<label class="claimlabel">Item Name:</label>
						<input type="text" class="claimform" id="itemname">

						<label class="claimlabel">Brand:</label>
						<input type="text" class="claimform" id="itembrand">

						<label class="claimlabel">Price:</label>
						<input type="text" class="claimform" id="itemprice">

						<label class="claimlabel">Date of purchase:</label>
						<input type="date" class="claimform" id="itemdate">

						<label class="claimlabel">Model No:</label>
						<input type="text" class="claimform" id="itemmodel">
					</div>
				</div>
				
				<div class="buttons" style="float:right">
					<button class="button button-clear" ng-click="saveItem()">
						<div class="doneButton">Done</div>
					</button>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="Web" class="brandc1bg" icon="web">
		</ion-tab>
	</ion-tabs>
</ion-view>