<ion-view view-title="Profile" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear" ng-click="saveProfile()">
				<span style="font-size:17px; font-weight:300">Save</span>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<!-- <ion-tabs class="tabs-assertive"> -->

		<!-- <ion-tab title="Settings" class="brandc1bg"> -->
			<ion-content style="top:20px">
				<div class="row">
					<div class="col" style="padding:20px 20px 0">

						<h3>Change Password</h3>

						<label class="claimlabel">New Password:</label>
						<input type="text" class="claimform">

						<label class="claimlabel">Retype Password:</label>
						<input type="text" class="claimform">

						<h3>Account Information</h3>

						<label class="claimlabel">Policy #:</label>
						<input type="text" class="claimform" id="policy">

						<label class="claimlabel">Policyholder:</label>
						<input type="text" class="claimform" id="policyholder">

						<label class="claimlabel">Insurance Company:</label>
						<input type="text" class="claimform" id="company">

						<h3>Quick Launch Bar</h3>
					</div>
				</div>

				<div class="row" style="margin-top:-15px">
					<div class="col">

						<div class="row" style="margin-top:-15px">
							<div class="col">
								<button class="button button-block button-positive" ng-click="fbLogin()">
									<span class="ion-social-facebook"></span>
									<label>Connect your Facebook</label>
								</button>
							</div>
						</div>
						
						<div class="row">
							<div class="col col-33">
								<img src="img/dashQuickIcon1@2x.png" class="quickIconImg">
							</div>
							<div class="col col-67">
								<label class="claimlabel">Service</label>
								<input type="text" class="claimform" placeholder="phone number" id="serviceNumber">
							</div>
						</div>

						<div class="row">
							<div class="col col-33">
								<img src="img/dashQuickIcon2@2x.png" class="quickIconImg">
							</div>
							<div class="col col-67">
								<label class="claimlabel">Alert</label>
								<input type="text" class="claimform" placeholder="phone number" id="alertNumber">
							</div>
						</div>

						<div class="row">
							<div class="col col-33">
								<img src="img/dashQuickIcon3@2x.png" class="quickIconImg">
							</div>
							<div class="col col-67">
								<label class="claimlabel">9-1-1</label>
								<input type="text" class="claimform" placeholder="phone number" id="emergencyNumber">
							</div>
						</div>
					</div>
				</div>
			</ion-content>
		<!-- </ion-tab> -->

		<!-- <ion-tab title="My Claims" class="brandc1bg" ng-init="getMyClaims()" on-select="getMyClaims()">
			<ion-content style="top:30px">
				<div ng-repeat="claim in claims">
					<div ng-click="getClaim('{{claim._id}}')">
						<p>Created: {{claim.created}}</p>
					</div>
				</div>
			</ion-content>
		</ion-tab> -->
	<!-- </ion-tabs> -->
</ion-view>