<ion-modal-view>
	<ion-content>
		<div class="row">
			<div class="col" style="padding:10px;">
				<div class="row">
					<div class="col col-90">
						<h1>Services</h1>
					</div>

					<div class="col">
						<div class="buttons" >
							<button class="button button-clear" ng-click="closeModal(1)" >
								<div class="closeModalButton">X</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="overflow:scroll;">
			<ion-item ng-hide="preferredVendors" class="textCenter">
				<i class="icon ion-loading-c"></i> Loading...
			</ion-item>

			<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<div class="item item-divider">Preferred Services</div>
				<ion-item ng-show="preferredVendors.length < 1">
					<div>
						<p>No service was found in your current location</p>
					</div>
				</ion-item>
				<ion-item ng-repeat="preferredVendor in preferredVendors | orderBy: 'distance'" class="item-thumbnail-left">
					<img ng-src="{{preferredVendor.photo}}"> 
					<h2>{{preferredVendor.name}}</h2>
					<p>{{preferredVendor.address}}</p>

					<a class="item item-icon-left" ng-if='preferredVendor.phone != "N/A"' href="tel:{{preferredVendor.phone}}">
						<i class="icon ion-ios7-telephone"></i>
						<p>{{preferredVendor.phone}}</p>
					</a>
					<a class="item item-icon-left" ng-click="openMapsModal(preferredVendor.coordinates)">
						<i class="icon ion-location"></i>
						<p>Show Location</p>
					</a>
					<a class="item item-icon-left" >
						<i class="icon ion-cash"></i>
						<p>Discount: {{preferredVendor.discount}} %</p>
					</a>
					<a class="item item-icon-left">
						<i class="icon ion-map"></i>
						<p>Distance: {{preferredVendor.distance | number:1}} KM</p>
					</a>
					<!-- <p>Open Now:{{vendor.openNow}}</p> -->
					<div ng-repeat="hour in vendor.openHours">
						<p>{{hour}}</p>
					</div>
				</ion-item>
			</ion-list> 

			<ion-item ng-hide="vendors" class="textCenter">
				<i class="icon ion-loading-c"></i> Loading...
			</ion-item>

			<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<div class="item item-divider">Local Services</div>
				<ion-item ng-show="vendors.length < 1">
					<div>
						<p>No service was found in your current location</p>
					</div>
				</ion-item>
				<ion-item ng-repeat="vendor in vendors | orderBy: 'distance'" class="item-thumbnail-left">
					<img ng-src="{{vendor.photo}}"> 
					<h2>{{vendor.name}}</h2>
					<p>{{vendor.address}}</p>

					<a class="item item-icon-left" ng-if='vendor.phone != "N/A"' href="tel:{{vendor.phone}}">
						<i class="icon ion-ios7-telephone"></i>
						<p>{{vendor.phone}}</p>
					</a>
					<a class="item item-icon-left" ng-click="openMapsModal('(' + vendor.latitude + ',' + vendor.longitude + ')')">
						<i class="icon ion-location"></i>
						<p>Show Location</p>
					</a>
					<a class="item item-icon-left">
						<i class="icon ion-map"></i>
						<p>Distance: {{vendor.distance | number:1}} KM</p>
					</a>

					<p>Open Now:{{vendor.openNow}}</p>

					<div ng-repeat="hour in vendor.openHours">
						<p>{{hour}}</p>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-modal-view>