<ion-view>
	<ion-nav-bar class="bar-positive" >
		<ion-nav-buttons side="primary">
			<button ng-click="$ionicGoBack($event)" class="button back-button buttons  button-clear header-item">
				<i class="icon ion-ios7-arrow-back"></i> 
					<span class="back-text">
					<span class="previous-title">Back</span>
				</span>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-app="starter">
		<!-- Rooms List Tab -->
		<ion-tab title="Departments" icon-off="ion-ios7-box-outline" icon-on="ion-ios7-box" href="#/tab/rooms" class="brandc1">
			<ion-nav-view name="tab-rooms"></ion-nav-view>
		</ion-tab>

		<!-- Current Selected Chat Tab -->
		<ion-tab title="History" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/history" class="brandc1">
			<ion-nav-view name="tab-chat-history"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>