<ion-view view-title="Items" animation="slide-left-right">
	<ion-content>
		<div id="inventoryItemsContent">
			<div class="inventoryItemsContainer">
				<h2>Add Inventory Items To Your Claim</h2>
				<div class="row">
					<div class="col col-50">
						Selected Items:<br>
						Total Price:
					</div>
					<div class="col col-50">
						{{ itemsSelected.length }}<br>
						{{ totalPrice | currency }}
					</div>
				</div>
			</div>

			<div ng-show="items.length > 0">
				<div class="col col-33" ng-repeat="item in items track by $index" style="float: left; width: auto;">
					<button class="inventoryCapImg" ng-click="saveItems(item._id)" id="{{item._id}}">
						<img class="col" ng-src="{{item.imagedetails[0].url}}">
						<div>
							<p>{{item.brand}}&nbsp;{{item.name}}</p>
						</div>
					</button>
				</div>
			</div>

			<div ng-show="items.length < 1">
				<div class="row">
					<div class="col">
						<p>You currently have no items added to your inventory. To claim any insured items, please add them to your inventory</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	
	<div class="bar bar-footer">
		<button class="button button-clear pull-left" ng-click="goBack()">
			<div class="backButton">< Back</div>
		</button>

		<button class="button button-clear pull-right" ng-if="items.length > 0" ng-click="goNext()">
			<div class="nextButton">Next ></div>
		</button>
		<button class="button button-clear pull-right" ng-if="items.length < 1" ng-click="skipStep()">
			<div class="nextButton">Skip ></div>
		</button>
	</div>
</ion-view>