<ion-view view-title="Auto" animation="slide-left-right">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
		</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-content>
		<div class="row">
			<div class="col" style="margin-top:15px">

				<!-- TEMPLATE
				<ion-toggle ng-repeat="item in settingsList"
		                    ng-model="item.checked" toggle-class="toggle-assertive" class="autoToggleAdj" 
		                    ng-checked="item.checked" >
		          {{ item.text }}
		        </ion-toggle>

		        <div class="item">
		          <pre ng-bind="ownershipList | json"></pre> 
		        </div>
				-->

				<!-- <div ng-repeat="item in ownershipList"  ng-model="item.checked" ng-checked="item.checked" class="autoToggleAdj">
					<label class="toggle toggle-assertive">
						<input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-untouched ng-valid ng-dirty ng-valid-parse">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
					<label class="claimlabel" style="position: relative; top: -10px;" >
						{{ item.text }}
					</label>
				</div> -->

				<div ng-repeat="item in ownershipList"  ng-model="item.checked" ng-checked="item.checked" class="autoToggleAdj" ng-click="changeOwnership(item)">
					<label class="toggle toggle-assertive">
						<input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-untouched ng-valid ng-dirty ng-valid-parse">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
					<label class="claimlabel" style="position: relative; top: -10px;" >
						{{ item.text }}
					</label>
				</div>

				<hr style="width:80%; border:0.5px solid #ccc; margin:10px auto">

				<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="claimtype in claimtypes | filter: { type: 'auto' }">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="radio" name="radio-group" ng-click="typeOfClaimCategory('{{claimtype.title}}')">
						<i class="checkbox-icon" ></i>
					</div>
					<div class="item-content disable-pointer-events">
						<span class="ng-binding">
							{{claimtype.title}}
						</span>
					</div>
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>
