<ion-view view-title="Chatting...">
   
  <ion-nav-bar class="bar-positive" >
        <ion-nav-buttons side="primary">
          <button  ng-click="cancelRequest()" id='cancelRequestButton' class="button back-button buttons  button-clear header-item">
              <i class="icon ion-ios7-arrow-back"></i> 
              <span class="back-text">
                <span class="previous-title">Back</span>
              </span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <!--<button class="button" id='cancelRequestButton' class="button button-small button-balanced" ng-click="cancelRequest()">
                Cancel
        </button>-->
        <ion-list ng-show="roomName">
        <div>
            <ion-item class="item item-input-inset">
                 <button id = "quitButton" ng-click="quitSession()" class="button button-small button-balanced">Quit Session
                </button>
            </ion-item>
        </div>
        
        <div id = "messageTextInputDiv">
            <ion-item class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input id ="messageTextInput" type="text" ng-model="IM.textMessage" placeholder="Type in your message..." >
                </label>
                <button id = "sendButton" ng-click="sendMessage(IM.textMessage)" class="button button-small button-balanced">Send
                </button>
            </ion-item>
        </div>
        
        
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>No messages in this session</h4>
            </ion-item>
            <ion-item class="" ng-repeat="chat in chats | orderBy:'createdAt':true" type="item-text-wrap">
                <h4>{{chat.from}} :</h4>
                <span am-time-ago="chat.createdAt" class="item-note">
                </span>
                <p>{{chat.message}}</p>
                
            </ion-item>
        </ion-list>
        <ion-list ng-hide="roomName">
            <ion-item class="textCenter">
                <h4>Please wait while we are connecting....</h4>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>