<ion-view view-title="Select Disaster" animation="slide-left-right">
	<ion-content>
		<div class="row">
			<div class="col" style="margin-top:15px">
				<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="disaster in disasterList">
					<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
						<input type="radio" name="radio-group" ng-click="typeOfDisaster('{{disaster.title}}')">
						<i class="checkbox-icon"></i>
					</div>
					<div class="item-content disable-pointer-events">
						<span class="ng-binding">
							{{disaster.title}}
						</span>
					</div>
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>