<ion-modal-view>

  <ion-content>

    <div class="row">
      <div class="col" style="padding:10px;">

          <div class="row">
            <div class="col col-90">
              <h1>Vehicle Details</h1>
            </div>
            <div class="col">
               <div class="buttons">
                 <button class="button button-clear" ng-click="closeModal(2)">
                    <div class="closeModalButton">X</div>
                 </button>
               </div>
             </div>
          </div>

          <label class="item item-input item-select" style="margin:20px 0 10px">
            <div class="input-label">
              Vehicle Type
            </div>
            <select id="vehicleTypeSelect">
              <option selected>Car</option>
              <option>Truck</option>
              <option>Motorcylce</option>
            </select>
          </label>

          <label class="claimlabel">Make</label>
          <input type="text" class="claimform" id="vehicleMake">

          <label class="claimlabel">Model</label>
          <input type="text" class="claimform" id="vehicleModel">

          <label class="claimlabel">Color</label>
          <input type="text" class="claimform" id="vehicleColor">

          <label class="claimlabel">Year</label>
          <input type="text" class="claimform" id="vehicleYear">

          <div class="buttons" style="float:right">
           <button class="button button-clear" ng-click="saveVehicleDetails()">
              <div class="doneButton">Done</div>
           </button>
          </div>

      </div>
    </diV>

  </ion-content>

</ion-modal-view>
