<ion-view view-title="Claim Items" animation="slide-left-right">
  <ion-content>
    
    <div class="row">
        <div class="col col-50">
            <div class="claimItem" ng-click="openModal(1)" id="driverDiv">
                <div>Other Driver Details</div>
            </div>
        </diV>

    	<div class="col col-50">
    		<div class="claimItem" ng-click="openModal(2)" id="vehicleDiv">
    			<div>Vehicle Details</div>
    		</div>
    	</diV>
    </div>

    <div class="row">
    	<div class="col col-50">
    		<div class="claimItem" ng-click="openModal(3)" id="passengersDiv">
    			<div>Passengers</div>
    		</div>
    	</diV>

    	<div class="col col-50">
    		<div class="claimItem" ng-click="openModal(4)" id="witnessesDiv">
    			<div>Witnesses</div>
    		</div>
    	</diV>
    </div>

    <div class="row">
    	<div class="col col-50">
    		<div class="claimItem" ng-click="openModal(5)" id="policeDiv">
    			<div>Police Details</div>
    		</div>
    	</diV>

    	<div class="col col-50">
    		<div class="claimItem" ng-click="openModal(6)" id="geodataDiv">
    			<div>Geo Data</div>
    		</div>
    	</diV>
    </div>   

    <div class="row">
    	<div class="col">
    		<div style="padding:10px">
	    		<h2>Additional Details</h2>
	    		<textarea id="notesTextarea" placeholder="you can indicate any additional details of the incident here..." class="claimItemTextarea"></textarea>
	    	</div>
    	</div>
    </div>

  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear pull-left" ng-click="goBack()">
      <div class="backButton">< Back</div>
    </button>

    <button class="button button-clear pull-right" ng-click="goNext()">
      <div class="nextButton">Next ></div>
    </button>
</div>
</ion-view>
