<ion-view class="loginContainer">
	<ion-nav-bar style="display:none">
	</ion-nav-bar>

	<div class="centerFlex">
		<div class="loginLogo">
			<img src="img/companyicon@2x.png" width="100%">
		</div>

		<div class="loginBox">
			<form ng-submit="doLogin()" class="loginForm">
				<div class="list">
					<label class="item item-input">
						<span class="input-label brandc2">Username</span>
						<input type="email" ng-model="loginData.username" required>
					</label>

					<label class="item item-input">
						<span class="input-label brandc2">Password</span>
						<input type="password" ng-model="loginData.password" required>
					</label>
					
					<label class="item">
						<button class="button button-block button-assertive brandc2bg" type="submit">Log in</button>
					</label>
				</div>
			</form>
		</div>
		<div class="createAccount">
			<a href="#/app/Dashboard">Forgot your password?</a><br><br><br>
			<a href="#/app/Dashboard" class="newAccount">Create a new account</a>
		</div>
	</div>
</ion-view>
