<ion-view view-title="My Inbox" animation="slide-left-right">
  <ion-content>
		<ion-list>
            <ion-item ng-hide="mails" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Mails
	            </ion-item>
	            <ion-item ng-if="mails.length == 0" class="textCenter">
	                  <div class="row">
			      		<div class="col">
			    			<h3 align="center" style="margin-top:20px; color:#999; font-weight:300">
			    				<img src="img/dashInboxIcon@2x.png" width="18" style="opacity:0.6; margin-right:5px"> Empty
			    			</h3>
						</div>
					</div>
	            </ion-item>
	            <ion-item class="" ng-repeat="mail in mails" ng-click= "openMail(mail)" id = "{{mail.id}}"type="item-text-wrap">
	                <h4>{{mail.title}} </h4>
	                <span am-time-ago="mail.showndate" class="item-note">
                </span>
	                <ion-option-button side="left"  ng-click="removeMail(mail)">
					   Delete
	           	    </ion-option-button>
	        </ion-item>
        </ion-list>
      
  
  </ion-content>
</ion-view>
