<ion-modal-view class="mediaCapModal">

  <ion-content>

   <h2>How would you like to attach your images?</h2>

   <div class="row">
    <div class="col col-50">
      <button ng-click="takePicture()">
        <h3 class="take">TAKE PHOTO</h3>
      </button>
    </div>
    <div class="col col-50">
      <button ng-click="selectPicture()" style="border-right:none !important">
        <h3 class="gallery">GALLERY</h3>
    </button>
    </div>
  </div>
    

  </ion-content>

</ion-modal-view>
