<ion-view view-title="Start Claim" animation="slide-left-right" ng-init="getPolicies()">
	<ion-content>

		<div class="row" style="padding:40px">
			<div class="col col-25">
				<img src="img/autoIconBig@2x.png" class="claimTypeImg">
			</div>
			<div class="col col-75">
				<h1 style="margin-top:10px">Automotive</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div ng-show="aPolicies.length > 0">
					<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="ap in aPolicies">
						<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
							<input type="radio" name="radio-group" ng-click="savePolicy(ap)">
							<i class="checkbox-icon"></i>
						</div>
						<div class="item-content disable-pointer-events">
							<span class="ng-binding">
								{{ap.policynumber}}
							</span>
						</div>
					</label>
				</div>
				<div ng-show="aPolicies.length == 0">
					<div>
						<p>There are no automotive policies.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="padding:40px">
			<div class="col col-25">
				<img src="img/propertyIconBig@2x.png" class="claimTypeImg">
			</div>
			<div class="col col-75">
				<h1 style="margin-top:10px">Property</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div ng-show="pPolicies.length > 0">
					<label class="item item-checkbox" style="border-width:0; margin-left:25px" ng-repeat="pp in pPolicies">
						<div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
							<input type="radio" name="radio-group" ng-click="savePolicy(pp)">
							<i class="checkbox-icon"></i>
						</div>
						<div class="item-content disable-pointer-events">
							<span class="ng-binding">
								{{pp.policynumber}}
							</span>
						</div>
					</label>
				</div>
				<div ng-show="pPolicies.length == 0">
					<div>
						<p>There are no property policies.</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>