<ion-view view-title="Summary" animation="slide-left-right" ng-init="summaryScreen()">
	<ion-content>
		<div class="row">
			<div class="col">

				<div class="row" ng-hide="objClaim.claimCategory==undefined">
					<div class="col">
						<h3 class="brandc2">Claim Items</h3>
					</div>
				</div>

				<div class="row" style="margin-top:-20px" ng-hide="objClaim.policyDetails==undefined">
					<div class="col col-50">
						<strong>Policy Number:</strong>
					</div>
					<div class="col col-50">
						{{objClaim.policyDetails.policynumber}}
					</div>
				</div>

				<div class="row" style="margin-top:-20px" ng-hide="objClaim.policyDetails==undefined">
					<div class="col col-50">
						<strong>Policy Company:</strong>
					</div>
					<div class="col col-50">
						{{objClaim.policyDetails.company}}
					</div>
				</div>

				<div class="row" style="margin-top:-20px" ng-hide="objClaim.claimCategory==undefined">
					<div class="col col-50">
						<strong>Claim Type:</strong>
					</div>
					<div class="col col-50">
						{{objClaim.claimType}}
					</div>
				</div>

				<div class="row" style="margin-top:-20px" ng-hide="objClaim.claimCategory==undefined">
					<div class="col col-50">
						<strong>Claim Category:</strong>
					</div>
					<div class="col col-50">
						{{objClaim.claimCategory}}
					</div>
				</div>

				<div class="row" style="margin-top:-20px" ng-hide="objClaim.claimCategory!='Disaster'">
					<div class="col col-50">
						<strong>Type of disaster:</strong>
					</div>
					<div class="col col-50">
						{{objClaim.disasterType}}
					</div>
				</div>

				<div class="row" ng-hide="objClaim.inventoryDetails.length < 1">
					<div class="col">
						<h2 class="brandc1">Inventory Items</h2>
						<div class="card" ng-repeat="inventory in objClaim.inventoryDetails">
							<div class="row">
								<div class="col col-33" >
									<button class="inventoryCapImg">
										<img ng-src="{{inventory.imagedetails[0].url}}" class="col">
									</button>
								</div>
								<div class="col col-50">
									Name: <br>
									Brand: <br>
									Model #: <br>
									Price: <br>
									Date of Purchase: <br>
									</div>
								<div class="col col-50">
									{{ inventory.name }}<br>
									{{ inventory.brand }}<br>
									{{ inventory.modelno }}<br>
									{{ inventory.price | currency }}<br>
									{{ inventory.dateofpurchase | date }}<br>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Auto Fields -->
				<div ng-show="objClaim.claimType=='auto'">

					<div class="row" ng-hide="objClaim.driverDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Driver Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.driverDetails==undefined">
						<div class="col col-50">
							Name:<br>
							Policy:<br>
							License Plate:<br>
							License Number:<br>
							Phone Number:
						</div>
						<div class="col col-50">
							{{objClaim.driverDetails.fname}} {{objClaim.driverDetails.lname}}<br>
							{{objClaim.driverDetails.policy}}<br>
							{{objClaim.driverDetails.licenseplate}}<br>
							{{objClaim.driverDetails.licensenumber}}<br>
							{{objClaim.driverDetails.phonenumber}}
						</div>
					</div>

					<div class="row" ng-hide="objClaim.vehicleDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Vehicle Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.vehicleDetails==undefined">
						<div class="col col-50">
							Color:<br>
							Make:<br>
							Model:<br>
							Type:<br>
							Year:
						</div>
						<div class="col col-50">
							{{objClaim.vehicleDetails.color}}<br>
							{{objClaim.vehicleDetails.make}}<br>
							{{objClaim.vehicleDetails.model}}<br>
							{{objClaim.vehicleDetails.type}}<br>
							{{objClaim.vehicleDetails.year}}
						</div>
					</div>

					<div class="row" ng-hide="objClaim.passengerDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Passenger Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.passengerDetails==undefined">
						<div class="col col-50">
							Name:<br>
							Phone Number:<br>
							E-mail:<br>
							Location:
						</div>
						<div class="col col-50">
							{{objClaim.passengerDetails.fname}} {{objClaim.passengerDetails.lname}}<br>
							{{objClaim.passengerDetails.phone}}<br>
							{{objClaim.passengerDetails.email}}<br>
							{{objClaim.passengerDetails.location}}
						</div>
					</div>	

					<div class="row" ng-hide="objClaim.witnessDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Witnesses Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.witnessDetails==undefined">
						<div class="col col-50">
							Name:<br>
							Phone Number:<br>
							E-mail:<br>
							Location:
						</div>
						<div class="col col-50">
							{{objClaim.witnessDetails.fname}} {{objClaim.witnessDetails.lname}}<br>
							{{objClaim.witnessDetails.phone}}<br>
							{{objClaim.witnessDetails.email}}<br>
							{{objClaim.witnessDetails.location}}
						</div>
					</div>

					<div class="row" ng-hide="objClaim.policeDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Police Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.policeDetails==undefined">
						<div class="col col-50">
							Name:<br>
							Badge #:<br>
							Phone Number:
						</div>
						<div class="col col-50">
							{{objClaim.policeDetails.name}}<br>
							{{objClaim.policeDetails.badge}}<br>
							{{objClaim.policeDetails.phonenumber}}
						</div>
					</div>

					<div class="row" ng-hide="objClaim.notesDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Additional Information</h2>
							<p>{{objClaim.notesDetails}}</p>
						</div>
					</div>
				</div>
				<!-- End of auto fields -->

				<!-- Property Fields -->
				<div ng-show="objClaim.claimType=='property'">
					<div class="row" ng-hide="objClaim.notesDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Additional Information</h2>
							<p>{{objClaim.notesDetails}}</p>
						</div>
					</div>
					
					<div class="row" ng-if="objClaim.affectedAreas.length > 0 || objClaim.affectedRooms.length > 0">
						<div class="col">
							<h2 class="brandc1">Affected Areas</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-if="objClaim.affectedAreas.length > 0">
						<div class="col col-50">
							Exterior:
						</div>
						<div class="col col-50">
							<div class="row" ng-repeat="area in objClaim.affectedAreas">
								{{area}}<br>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-if="objClaim.affectedRooms.length > 0">
						<div class="col col-50">
							Interior:
						</div>
						<div class="col col-50">
							<div class="row" ng-repeat="room in objClaim.affectedRooms">
								{{room}}<br>
							</div>
						</div>
					</div>

					<div class="row" ng-hide="objClaim.policeDetails.name=='' && objClaim.policeDetails.badge=='' && objClaim.policeDetails.phonenumber=='' && objClaim.policeDetails.report=='' || objClaim.policeDetails==undefined">
						<div class="col">
							<h2 class="brandc1">Police Information</h2>
						</div>
					</div>
					<div class="row" style="margin-top:-20px" ng-hide="objClaim.policeDetails.name=='' && objClaim.policeDetails.badge=='' && objClaim.policeDetails.phonenumber=='' && objClaim.policeDetails.report=='' || objClaim.policeDetails==undefined">
						<div class="col col-50">
							Name:<br>
							Badge #:<br>
							Phone Number:<br>
							Report:
						</div>
						<div class="col col-50">
							{{objClaim.policeDetails.name}}<br>
							{{objClaim.policeDetails.badge}}<br>
							{{objClaim.policeDetails.phonenumber}}<br>
							{{objClaim.policeDetails.report}}
						</div>
					</div>
				</div>
				<!-- End of property fields -->

				<div class="row" ng-show="objClaim.notesDetails!=undefined || objClaim.notesDetails!=undefined || objClaim.inventoryDetails!=undefined">
					<div class="col">
						<h3 class="brandc2">Other Items</h3>
					</div>
				</div>

				<div class="row" ng-hide="objClaim.geoDetails==undefined">
					<div class="col">
						<h2 class="brandc1">Geo Details</h2>
					</div>
				</div>
				<div class="row" style="margin-top:-20px" ng-hide="objClaim.geoDetails==undefined">
					<div class="col col-50">
						Address:<br>
						City:<br>
						Province:<br>
						Weather:
					</div>
					<div class="col col-50">
						{{objClaim.geoDetails.address}}<br>
						{{objClaim.geoDetails.city}}<br>
						{{objClaim.geoDetails.provice}}<br>
						{{objClaim.weatherDetails}}
					</div>
				</div>

				<div class="row" ng-show="objClaim.AudioFiles!=undefined || objClaim.ImageFiles!=undefined || objClaim.VideoFiles!=undefined">
					<div class="col">
						<h2 class="brandc1">Media Attachments</h2>
					</div>
				</div>
				<div class="card" ng-show="objClaim.ImageFiles!=undefined">
					<div class="col col-33" ng-repeat="image in objClaim.ImageFiles track by $index" style="float: left; width: auto;">
						<button class="inventoryCapImg">
							<img ng-src="{{'data:image/jpeg;base64,' + image}}" class="col">
						</button>
					</div>
				</div>

				<div class="buttons" align="center">
					<button class="button button-clear" style="max-height:80px; margin-top:30px" ng-click="submitClaim()">
						<div class="submitClaimButton">Done</div>
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>