@import url('menu.css');

/*BRANDING*/
.brandc1 { color:#148ccc !important; }
.brandc1bg { background:#148ccc !important; }

.brandc2 { color:#148ccc !important; }
.brandc2bg { background:#148ccc !important; }

.brandc3 { color:#148ccc  !important; }
.brandc3bg { background:#148ccc  !important; }

.brandc4 { color:#c23131  !important; }
.brandc4bg { background:#c23131  !important; }

body, .ionic-body { 
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: url(../img/sidemenubg.jpg);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  zoom: 1;
}

.bar-footer {
    border: none !important;
    background: none !important;
    padding-bottom: 45px !important
}

h1 { font-weight: 300;}

h2 { 
  font-size: 20px;
  font-weight:200;
}

.fw100 { font-weight: 100 }
.fw200 { font-weight: 200 }
.fw300 { font-weight: 300 }
.fw400 { font-weight: 400 }
.fw500 { font-weight: 500 }
.fw600 { font-weight: 600 }
.fw700 { font-weight: 700 }

.white { color: #fff; }

.centerFlex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    margin:0 auto;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.sideMenuLinks {
    color:#fff;
    font-weight: 100;
    font-size: 25px;
}

.sideMenuIcon {
    color:#f4f4f4;
    font-size: 25px;
    padding-right: 10px;
}

.footerDash {
    bottom: 0;
    box-shadow: -1px -1px 17px -9px #000;
    height: 54px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(237,237,237,0.88) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(237,237,237,0.88))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(237,237,237,0.88) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(237,237,237,0.88) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(237,237,237,0.88) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(237,237,237,0.88) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#e0ededed',GradientType=0 ); /* IE6-9 */
}

.footerDashBlur {
    bottom: 0;
    height: 54px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9998;
    filter: blur(30px);
    -webkit-filter: blur(30px)
}

.bar.bar-stable .title {
    color: #fff !important;
    font-family: helvetica neue;
    font-size: 20px;
    font-weight: 200;
}

.bar-header {
    background: none repeat scroll 0 0 #148ccc !important;
    border: medium none !important;
    top: 0;
}

.bar-stable .button.button-clear {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
    font-weight:200;
}

.contactBroker {
    background: none repeat scroll 0 0;
    color: #000;
    padding: 7px 15px; position:absolute; left:5px; border:none
}

#profileContainer {
    min-height: 100px;
    margin: 10px;
    padding:0 0 5px;
}


.profileImg {
    border: 1px solid #148ccc;
    background: none repeat scroll 0 0 #148ccc;
    border-radius: 50%;
}

.checkboxImage{
    background: none repeat scroll 0 0 #148ccc;
    height: 50px;
    width: 50px;
}

.profileAdjust {
  padding-left: 6px;
    padding-top: 15px;
}

.policyholderName {
    font-size: 20px;
    font-weight: 400;
}

.policyholderNum {
    font-size: 16px;
    font-weight: 300;
}

#dashInboxContainer {
  margin-top: 10px;
}

.dashQuickIconBG {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 2px solid #148ccc;
    font-size: 20px;
    font-weight: 200;
    color: #333;
    padding: 10px 0;
    margin-top: -10px;
    text-align: center;
}

.quickIconImg {
background: #148ccc;
width: 100%
}

#dashInboxContainer h2 {
  background:url(../img/dashInboxIcon@2x.png) no-repeat ;
  padding-left: 35px;
}

h1.autoIcon {
    background: url("../img/autoIcon@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 90px;
    padding-left: 115px;
    padding-top: 25px;
    text-align: left;
}

h1.propertyIcon {
    background: url("../img/propertyIcon@2x.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 90px;
    padding-right: 115px;
    padding-top: 25px;
    text-align: right;
}

div.listAdjust {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 25px;
    padding-top: 0;
    position: relative;
} 

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: none repeat scroll 0 0 #148ccc;
    border-color: #148ccc;
}

.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #148ccc;
}

.checkbox input, .checkbox-icon {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 45px;
    position: relative;
    width: 45px;
}

.checkbox input:after, .checkbox-icon:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #fff #fff;
    border-image: none;
    border-style: none none solid solid;
    border-width: 0 0 3px 3px;
    content: " ";
    display: table;
    height: 9px;
    left: 29%;
    opacity: 0;
    position: absolute;
    top: 37%;
    transform: rotate(-40deg);
    transition: opacity 0.05s ease-in-out 0s;
    width: 21px;
}

.item-checkbox {
    font-size: 18px;
    font-weight: 300;
    padding-left: 70px;
}

.item-checkbox .checkbox {
    left: 8px;
    margin-top: -28px;
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 3;
}

.propertyClaimAdjust {
    margin-top:-20px; margin-left:-10px; position:relative; z-index:20
}

.claimItem {
    border-bottom: 2px solid #148ccc;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.claimItemDone {
    background: #148ccc !important;
    color: #fff !important;
    cursor: pointer;
    border-bottom: 3px solid #f4f4f4;
    box-shadow: 0 4px 4px -6px #000
}

.claimItemDone div::after {
    content: " ✓";
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
}

.claimItem div {
    font-size: 17px;
    font-weight: 300;
    padding: 25px 0;
}

.claimItemTextarea {
    border-bottom: 2px solid #148ccc;
    height: 200px;
    margin-bottom: 5px;
    padding:15px 0;
}

label.claimlabel {
    font-size: 17px;
    font-weight: 300;
}

input.claimform {
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 15px !important;
    font-weight: 300;
    height: 45px !important;
    margin: 5px 0 10px;
    padding: 10px 11px !important;
    text-transform: uppercase;
}

.closeModalButton {
    background: none repeat scroll 0 0 #148ccc;
    border: 1px solid #bbb;
    border-radius: 50%;
    box-shadow: 1px 1px 8px -4px #000;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    height: 38px;
    line-height: 37px;
    padding: 0;
    text-indent: 1px;
    width: 40px;
    position: relative;
    right:10px;
}

.doneButton {
    background: none repeat scroll 0 0 #148ccc;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    height: 37px;
    line-height: 36px;
    margin-right: -6px;
    margin-top: -7px;
    padding: 0 20px;
}

.dark-overlay {
  background-color: #222 !important;
  opacity: 0.8;
}

.menuBG {
    background: url(../img/companyicon@2x.png) #fff 50% no-repeat;
    background-size: cover;
}

.nextButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0.5px solid #148ccc;
    border-radius: 5px;
    color: #148ccc;
    font-size: 17px;
    font-weight: 300;
    height: auto;
    line-height: normal;
    margin-right: 12px;
    padding:7px 30px;
    position: relative;
    top: -6px
}

.backButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0.5px solid #148ccc;
    border-radius: 5px;
    color: #148ccc;
    font-size: 17px;
    font-weight: 300;
    height: auto;
    line-height: normal;
    margin-left: 12px;
    padding:7px 30px;
    position: relative;
    top: -6px
}

.autoToggleAdj {
    margin-left: 35px;
}

.autoToggleAdj label.toggle {
    margin-right: 10px;
}

.autoToggleAdj .claimlabel {
    font-size:19px;
}

h1.geoDataTitle {
    line-height: 35px;
    position: relative;
    top: 15px;
}

input.geoClaimForm {
    border-bottom: 1px solid #148ccc !important;
    font-size: 12px !important;
    font-weight: 300;
    height: 40px !important;
    margin: -17px 0 10px;
    padding-left: 20px;
    text-transform: uppercase;
}

.refreshClick {
    margin-top: 35px;
    position: absolute;
    right: 20px;
    transition:All 1.029s ease;
        -webkit-transition:All 1.029s ease;
        -moz-transition:All 1.029s ease;
        -o-transition:All 1.029s ease;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.refreshClick:hover {
    transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
}

.mediaCapImg {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.inventoryCapImg {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    height: 100px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

.inventoryCapImg img {
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
}

.inventoryCapImg div {
    font-size: 13px;
}

.selectedItem{
    box-shadow: 1px 1px 10px -4px #333;
    padding: 0;
    margin: 0;
    height: 100px !important;
    overflow: hidden !important;
}

.mediaCapModal {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    height: 10px;
    left: 17px;
    margin: 0 auto;
    box-shadow: 0 0 40px -10px #000;
    min-height: 160px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 340px;
    z-index: 10;
}

.mediaCapModal h2 {
    text-align: center;
    padding:20px 40px;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
}

.mediaCapModal button {
    background: none repeat scroll 0 0 #fff;
    border:none;
    border-right:1px solid #ccc;
    height: 40px;
    padding: 7px 10px 10px;
    width: 100%;
}

.mediaCapModal button h3.take {
    background: url("../img/mediaCapChooseTake@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    padding-left: 35px;
    padding-top: 3px;
    height: 22px;
    text-transform: uppercase;
}

.mediaCapModal button h3.gallery {
    background: url("../img/mediaCapChooseGallery@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    padding-left: 35px;
    padding-top: 3px;
    height: 24px;
    text-transform: uppercase;
}

h2.addVideo {
    background: url("../img/addVideoIcon@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 40px;
    padding:7px 0 0 45px;
    margin: 10px 0 0 20px;
}

button.addVideo {
    background: none repeat scroll 0 0 #fff;
    border:none;
    height: 55px;
    padding: 7px 10px 10px;
    width: 100%;
}

h2.addAudio {
    background: url("../img/addAudioIcon@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 40px;
    padding:7px 0 0 45px;
    margin: 10px 0 0 16px;
}

button.addAudio {
    background: none repeat scroll 0 0 #fff;
    border:none;
    height: 55px;
    padding: 7px 10px 10px;
    width: 100%;
}

.sendLaterButton {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #148ccc;
    border-radius: 5px;
    color: #148ccc;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    line-height: 36px;
    padding: 12px 60px 0;
    margin-top: 15px;
    width: 300px;
}

.submitClaimButton {
    background: none repeat scroll 0 0 #148ccc;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    height: 60px;
    line-height: 36px;
    padding: 12px 60px 0;
    width: 280px;
}

.activeMenuBGon { 
    width:100%;
    height: 100%;
    z-index: 100;
    background:#333;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: relative;
    top: 0;
    transition: opacity 0.2s linear 0s;
}

.activeMenuBGoff {
    opacity: 0;
} 

.tab-content {
    margin-top: 35px;
}

.contactIcon {
    color: #148ccc;
    font-size: 30px;
    position: relative;
    top: -10px;
}

.policyDetails {
    color: #148ccc;
    font-size: 26px;
    font-weight: 300;
    border-bottom: 1px solid #999;
    padding-bottom: 6px
}


.policyDetailsBox {
    background: #fff;
    border-bottom: 2px solid #148ccc;
    color: #555;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.policyDetailsBox span { font-size:12px; color: #148ccc }

.contactIcon .textAdjust {
    color: #333;
    font-size: 18px;
    position: relative;
    top: -5px;
    padding-left: 5px
}

.homeInboxList {
    border-left: 2px solid #148ccc;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 10px;
    height: 50px;
}

.adjustHomeInboxList {
    float: left;
    overflow: hidden;
    width: 90%;
}

.goToInboxArrow {
    color: #148ccc;
    float: right;
    font-size: 25px;
    position: relative;
    right: -40px
}

.claimTypeImg {
    background: none repeat scroll 0 0 #148ccc;
    border-radius: 50%;
    width: 100%;
}

.homeActionImg {
    background: none repeat scroll 0 0 #148ccc;
    width: 100%;
}
.loginContainer{
    /*background:url(img/login-bg.jpg) center center;*/
    background:#148ccc;
    background-size:cover;
}

.loginBox {
    padding:20px;
}

.createAccount a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 15px
}
.loginLogo {
    margin: 0 auto;
    max-height: 400px;
    max-width: 200px;
    overflow: hidden;
}
.loginForm {
    border-radius:4px !important; 
    overflow:hidden;
    box-shadow: 1px 1px 10px -9px #000;
}

.newAccount {
    border:1px solid #f4f4f4;
    border-radius:4px !important; 
}

.checklistLine {
    width:90%; margin-top: 0; margin-bottom:0; border: 1px solid #f5f5f5;
}

.checklistIcon {
    border: 1px solid #333;
    border-radius: 50%;
    color: #148ccc;
}

.checklistItem {
    height: 35px !important;
    margin: 5px 5px 5px 15px !important;
    padding: 8px 0 0 11px !important;
}

.slideAdjust {
    margin-top: 20px;
    height: 480px;
    padding:20px;
}

.slideAdjust h2 {
    padding:10px 20px 20px;
    text-align: center;
    font-size: 30px
}

.checklistTitle {
  margin-top: 15px !important;
  font-size: 30px;
  margin-bottom: -20px;
  font-weight: 300;
  color:#148ccc;
}

.slideAdjust img {
    background: #148ccc;
}

.tabs .tab-item .icon.auto {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/car_icon.png');
  background-size:20%;
}

.tabs .tab-item .icon.property {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/property_icon.png');
  background-size:20%;
}

.tabs .tab-item .icon.manual {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/manual_icon.png');
  background-size:20%;
}

.tabs .tab-item .icon.web {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/web_icon.png');
  background-size:20%;
}

.tabs .tab-item .icon.interior {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/interior_icon.png');
  background-size:20%;
}

.tabs .tab-item .icon.exterior {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/exterior_icon.png');
  background-size:20%;
}

.trash {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/trash.png');
  background-size:contain;
}

.inventoryItemsContainer {
    padding: 10px
}

.inventoryItemsContainer h2 {
    text-align: left;
    margin-top: 10px;
    padding: 10px
}